<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc/jdbc.properties"/>
</bean>
<!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="${driverClassName}"/>
	<property name="url" value="${url}"/>
	<property name="username" value="${username}"/>
	<property name="password" value="${password}"/>
	<property name="maxActive" value="4000"/>
	<property name="maxIdle" value="1000"/>
	<property name="maxWait" value="30000"/>
</bean>-->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName"><value>${driverClassName}</value></property>
	<property name="url"><value>${url}</value></property> 
	<property name="username"><value>${username}</value></property>
	<property name="password"><value>${password}</value></property>
	<property name="maxActive"><value>255</value></property> 
	<property name="maxIdle"><value>2</value></property>
	<property name="maxWait"><value>120000</value></property>
</bean>
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="configLocation"><value>classpath:Configuration.xml</value></property>
	<property name="dataSource"><ref bean="dataSource"/></property>
 </bean>
<bean id="sqlSessionTemplate_app" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg index="0" ref="sqlSessionFactory" />
</bean>
<!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
<!-- 配置事务管理器 -->
<bean id="transactionManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
	p:dataSource-ref="dataSource">
</bean>
<!-- 配置多个事务管理器 -->
<!--<bean id="tran_1"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
	p:dataSource-ref="dataSource">
	<qualifier value="tran_1"/>
</bean>
@Transactional("tran_1")
-->
<!-- enables scanning for @Transactional annotations -->
<tx:annotation-driven transaction-manager="transactionManager"/>
<bean id="iAddressesMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.addresses.IAddressesMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iAddressesService" class="com.paotui.service.addresses.AddressesServiceImpl"></bean>
<bean id="iBannerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.banner.IBannerMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iBannerService" class="com.paotui.service.banner.BannerServiceImpl"></bean>
<bean id="iConfigureMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.configure.IConfigureMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iConfigureService" class="com.paotui.service.configure.ConfigureServiceImpl"></bean>
<bean id="iCustomerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.customer.ICustomerMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iCustomerService" class="com.paotui.service.customer.CustomerServiceImpl"></bean>
<bean id="iMessageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.message.IMessageMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iMessageService" class="com.paotui.service.message.MessageServiceImpl"></bean>
<bean id="iNewsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.news.INewsMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iNewsService" class="com.paotui.service.news.NewsServiceImpl"></bean>
<bean id="iOrdersMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.orders.IOrdersMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iOrdersService" class="com.paotui.service.orders.OrdersServiceImpl"></bean>
<bean id="iScoresMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.scores.IScoresMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iScoresService" class="com.paotui.service.scores.ScoresServiceImpl"></bean>
<bean id="iUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.user.IUserMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iUserService" class="com.paotui.service.user.UserServiceImpl"></bean>
<bean id="iDialrecordMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.dialrecord.IDialrecordMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iDialrecordService" class="com.paotui.service.dialrecord.DialrecordServiceImpl"></bean>
<bean id="iInstallinfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.installinfo.IInstallinfoMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iInstallinfoService" class="com.paotui.service.installinfo.InstallinfoServiceImpl"></bean>
<bean id="iDriversMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.drivers.IDriversMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iDriversService" class="com.paotui.service.drivers.DriversServiceImpl"></bean>
<bean id="iOrdersptMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.orderspt.IOrdersptMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iOrdersptService" class="com.paotui.service.orderspt.OrdersptServiceImpl"></bean>
<bean id="iTicketMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.ticket.ITicketMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iTicketService" class="com.paotui.service.ticket.TicketServiceImpl"></bean>
<bean id="iPrizeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.prize.IPrizeMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iPrizeService" class="com.paotui.service.prize.PrizeServiceImpl"></bean>
<bean id="iAwardsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.paotui.dao.awards.IAwardsMapper "/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>
<bean id="iAwardsService" class="com.paotui.service.awards.AwardsServiceImpl"></bean>
</beans>
